import * as Joi from 'joi';

export const {{ name }}Schema = {
  findAll{{ pluralModelName }}: {
    query: {
      offset: Joi.number(),
      limit: Joi.number(),
      sortOrder: Joi.string().valid('asc', 'desc'),
      sortField: Joi.string(),
    },
  },
  findById: {
    params: {
      {{ name }}Id: Joi.string().guid(),
    },
  },
  create: {
    body: Joi.object({
    }),
  },
  update: {
    params: {
      {{ name }}Id: Joi.string().guid(),
    },
    body: Joi.object({
      updatedAt: Joi.date().iso().raw(),
    }),
  },
  partialUpdate: {
    params: {
      {{ name }}Id: Joi.string().guid(),
    },
    body: Joi.object({
    }),
  },
  remove: {
    params: {
      {{ name }}Id: Joi.string().guid(),
    },
  },
};
