import * as Joi from 'joi';

export const {{ name }}Schema = {
  findAll{{ pluralModelName }}: {
    query: {
    },
  },
  findById: {
    params: {
      {{ name }}Id: Joi.string().guid(),
    },
  },
  create: {
    body: Joi.object({
    }),
  },
  update: {
    params: {
      {{ name }}Id: Joi.string().guid(),
    },
    body: Joi.object({
    }),
  },
  partialUpdate: {
    params: {
      {{ name }}Id: Joi.string().guid(),
    },
    body: Joi.object({
    }),
  },
  remove: {
    params: {
      {{ name }}Id: Joi.string().guid(),
    },
  },
};
